.background {
  background-image: url(../assets/images/wallpaperflare.com_wallpaper\(2\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.underline {
  text-decoration: none;
}

.background:hover {
  background-color: chocolate;
}
